@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Roboto Condensed;
}

a {
  text-decoration: none;
}

ul ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

header {
  width: 100%;
  background-color: #232536;
}
header .navbar {
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
header .navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  background-color: #232536;
  padding: 10px 20px;
  align-items: start;
}
header .navbar .container-fluid ul {
  margin-right: 15px;
}
header .navbar .container-fluid ul li .active {
  color: #a7a8af;
}
header .navbar .container-fluid ul li .active:hover {
  color: #fff;
}
header .navbar .container-fluid ul li a {
  color: #a7a8af;
}
header .navbar .container-fluid ul li a:hover {
  color: #fff;
}
header .navbar .container-fluid .nav__clone--link a {
  color: #ffd3af;
}

.container {
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.company-header {
  margin-top: 96px;
}

.company__shapes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shape1 {
  max-width: 28px;
  max-height: 28px;
}

.shape2 {
  max-width: 48px;
  max-height: 52px;
}

.company__texts-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.87;
}

.company__texts-heading {
  max-width: 664px;
  max-height: 174px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-top: 20px;
}

.company__texts-title {
  padding-top: 24px;
  max-width: 719px;
  max-height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
  margin-bottom: 64px;
}

.company__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.company-img1 {
  max-width: 400px;
  max-height: 430px;
  transition: 0.5s;
}

.company-img1:hover {
  transition: 0.5s;
  transform: scale(0.9);
}

.company-img2 {
  max-width: 400px;
  max-height: 430px;
  transition: 0.5s;
}

.company-img2:hover {
  transition: 0.5s;
  transform: scale(0.9);
}

.company-img3 {
  max-width: 400px;
  max-height: 420px;
  transition: 0.5s;
}

.company-img3:hover {
  transition: 0.5s;
  transform: scale(0.9);
}

@media (max-width: 1100px) {
  .company__images {
    display: flex;
    flex-wrap: nowrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .company-img1 {
    max-width: 350px;
  }
  .company-img2 {
    max-width: 350px;
  }
  .company-img3 {
    max-width: 350px;
    max-height: 370px;
  }
}
@media (max-width: 1000px) {
  .company__images {
    display: flex;
    flex-wrap: nowrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .company-img1 {
    max-width: 300px;
  }
  .company-img2 {
    max-width: 300px;
  }
  .company-img3 {
    max-width: 300px;
    max-height: 320px;
  }
}
@media (max-width: 950px) {
  .company__images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 700px) {
  .company__texts-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .company__texts-heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }
  .company__texts-title {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .company__images {
    margin-top: 80px;
  }
}
.company-story {
  margin-top: 96px;
}

.company__story-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.story__text-span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  margin-top: 16px;
}

.story__text-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  max-width: 549px;
  max-height: 108px;
  padding-top: 16px;
}

.story__text-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
  max-width: 550px;
  max-height: 144px;
  padding-top: 24px;
}

.story__cards {
  background-color: #ffd3af;
  display: flex;
  max-width: 624px;
  max-height: 368px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 0 60px 0;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 30px;
}

.story__cards-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.cards__item-span {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  text-align: start;
}

.for-hr {
  display: flex;
}

.cards__item-hr1 {
  height: 6px;
  width: 10px;
  border: none;
  background-color: #444cfc;
}

.cards__item-hr2 {
  height: 6px;
  width: 44px;
  border: none;
  background-color: #ffe6d2;
}

.cards__item-hr3 {
  height: 6px;
  width: 17px;
  border: none;
  background-color: #ffa155;
}

.cards__item-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  opacity: 0.87;
  text-align: start;
  max-width: 138px;
  width: 100%;
}

@media (max-width: 1000px) {
  .story__cards {
    max-width: 450px;
    -moz-column-gap: 55px;
         column-gap: 55px;
    row-gap: 20px;
  }
}
@media (max-width: 950px) {
  .company__story-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .story__cards {
    max-width: 700px;
    -moz-column-gap: 200px;
         column-gap: 200px;
  }
  .story__shape {
    padding-left: 170px;
  }
  .story__text {
    max-width: 600px;
  }
  .story__text-title {
    font-weight: 600px;
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .company__story-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }
  .story__cards {
    max-width: 700px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .story__shape {
    padding-left: 5px;
  }
  .story__text {
    max-width: 500px;
  }
  .story__text-title {
    font-weight: 400px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .company__story-wrapper {
    row-gap: 120px;
  }
  .story__cards {
    max-width: 400px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .story__text-heading {
    font-size: 25px;
  }
}
#expertise {
  padding: 96px 0;
  background-color: #ecf8f9;
}
#expertise .expertise__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
#expertise .expertise__container .left span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}
#expertise .expertise__container .left h2 {
  max-width: 622px;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin: 16px 0 24px;
}
#expertise .expertise__container .left p {
  max-width: 622px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5d5f6d;
}
#expertise .expertise__container .right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#expertise .expertise__container .right .card {
  padding: 30px 117px 30px 30px;
  background-color: #fff;
  display: flex;
  gap: 16px;
  transition: 0.4s;
}
#expertise .expertise__container .right .card .logo a {
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffe6d2;
  border-radius: 50%;
}
#expertise .expertise__container .right .card .content h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
#expertise .expertise__container .right .card .content p {
  max-width: 300px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #5d5f6d;
}
#expertise .expertise__container .right .card .content p br {
  display: none;
}
#expertise .expertise__container .right .card:hover {
  cursor: pointer;
  background-color: #ffe6d2;
  transform: scale(1.05);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.137);
}
#expertise .expertise__container .right .card:hover .logo a {
  background-color: white;
}
#expertise .expertise__container .right .card-mobile {
  display: none;
}
@media (max-width: 1230px) {
  #expertise .expertise__container .left h2 {
    font-size: 40px;
    line-height: 140%;
  }
  #expertise .expertise__container .right .card {
    padding: 30px;
  }
  #expertise .expertise__container .right .card .content p {
    max-width: 400px;
  }
}
@media (max-width: 1005px) {
  #expertise .expertise__container {
    flex-direction: column;
  }
  #expertise .expertise__container .left {
    width: 100%;
    text-align: center;
  }
  #expertise .expertise__container .left h2 {
    max-width: 100%;
    text-align: center;
  }
  #expertise .expertise__container .left p {
    max-width: 100%;
  }
  #expertise .expertise__container .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  #expertise .expertise__container .right .card {
    padding: 20px;
  }
  #expertise .expertise__container .right .card .content p {
    max-width: 300px;
  }
  #expertise .expertise__container .right .card-mobile {
    padding: 20px;
    background-color: #fff;
    display: flex;
    gap: 16px;
    transition: 0.4s;
  }
  #expertise .expertise__container .right .card-mobile .logo a {
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffe6d2;
    border-radius: 50%;
  }
  #expertise .expertise__container .right .card-mobile .content h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
  }
  #expertise .expertise__container .right .card-mobile .content p {
    max-width: 300px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #5d5f6d;
  }
  #expertise .expertise__container .right .card-mobile .content p br {
    display: none;
  }
  #expertise .expertise__container .right .card-mobile:hover {
    cursor: pointer;
    background-color: #ffe6d2;
    transform: scale(1.05);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.137);
  }
  #expertise .expertise__container .right .card-mobile:hover .logo a {
    background-color: white;
  }
}
@media (max-width: 750px) {
  #expertise .expertise__container .left h2 {
    font-size: 35px;
  }
  #expertise .expertise__container .right {
    width: 100%;
    grid-template-columns: 1fr;
  }
  #expertise .expertise__container .right .card,
  #expertise .expertise__container .right .card-mobile {
    padding: 30px;
  }
  #expertise .expertise__container .right .card .content p,
  #expertise .expertise__container .right .card-mobile .content p {
    max-width: 100%;
  }
  #expertise .expertise__container .right .card:hover,
  #expertise .expertise__container .right .card-mobile:hover {
    transform: scale(1.03);
  }
}
@media (max-width: 520px) {
  #expertise .expertise__container .left h2 {
    font-size: 30px;
  }
  #expertise .expertise__container .left p {
    font-size: 14px;
  }
  #expertise .expertise__container .right .card,
  #expertise .expertise__container .right .card-mobile {
    padding: 25px 20px;
  }
  #expertise .expertise__container .right .card .content p,
  #expertise .expertise__container .right .card-mobile .content p {
    font-size: 14px;
  }
}
@media (max-width: 1005px) {
  #expertise {
    padding: 80px 0;
  }
}

.company__logo {
  margin-top: 96px;
}

.company__logo-wrapper {
  background-color: #fafafc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  max-height: 106px;
}

.logo__items {
  max-width: 186px;
  max-height: 105px;
}

@media (max-width: 950px) {
  .company__logo-wrapper {
    max-height: 400px;
    flex-wrap: wrap;
    -moz-column-gap: 150px;
         column-gap: 150px;
    row-gap: 30px;
  }
}
@media (max-width: 562px) {
  .company__logo-wrapper {
    max-height: 550px;
    row-gap: 0px;
  }
}
.our-vision {
  margin-top: 96px;
}

.vision-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}

.vision-heading {
  max-width: 701px;
  max-height: 162px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  padding-top: 16px;
}

.vision-title {
  max-width: 622px;
  max-height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
  padding-top: 24px;
}

.vision__img {
  margin-top: 64px;
}

.back-img-vision {
  max-width: 1270px;
  max-height: 369px;
  padding-right: 20px;
}

@media (max-width: 1100px) {
  .back-img-vision {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .back-img-vision {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .back-img-vision {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .back-img-vision {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .back-img-vision {
    max-width: 600px;
  }
  .vision-heading {
    font-size: 24px;
    max-width: 420px;
    line-height: 30px;
  }
}
@media (max-width: 620px) {
  .back-img-vision {
    max-width: 500px;
  }
}
@media (max-width: 520px) {
  .back-img-vision {
    max-width: 400px;
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .back-img-vision {
    max-width: 300px;
  }
}
.team {
  margin-top: 96px;
  margin-bottom: 224px;
}

.team-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}

.team-heading {
  max-width: 624px;
  max-height: 162px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-top: 16px;
}

.team-title {
  max-width: 505px;
  max-height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
  padding-top: 24px;
}

.team__img {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 440px;
}

.team-img {
  max-width: 300px;
  min-height: 300px;
}

@media (max-width: 1100px) {
  .team__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .team-img {
    max-width: 320px;
    max-height: 320px;
  }
  .team-heading {
    font-size: 30px;
    line-height: 30px;
  }
}
.subscribe .container {
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
.subscribe .subscribe__wrapper {
  background-color: #666dff;
  max-width: 1256px;
  min-height: 333px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.subscribe .subscribe-h4 {
  max-width: 111px;
  max-height: 20px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #ffffff;
  z-index: 152;
  position: relative;
  transition: 0.5s;
  margin-left: 15px;
}
.subscribe .subscribe-heading {
  margin-left: 15px;
  position: relative;
  max-width: 488px;
  max-height: 108px;
  font-weight: 600px;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  z-index: 155;
  transition: 0.5s;
}
.subscribe .subscribe__wrapper-form .email-inp {
  position: relative;
  padding: 20px;
  padding-left: 30px;
  padding-right: 100px;
  border: none;
  z-index: 162;
  margin-right: 15px;
}
.subscribe .subscribe__wrapper-shapes {
  max-width: 85px;
  max-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.subscribe .subscribe__wrapper-shapes .sub-blue {
  position: absolute;
  min-width: 80px;
  min-height: 80px;
  background-color: #749de9;
  z-index: 1;
  transition: 0.6s;
}
.subscribe .subscribe__wrapper-shapes .sub-orange {
  position: absolute;
  min-width: 55px;
  min-height: 55px;
  background-color: #ffa155;
  transition: 0.6s;
}
.subscribe .subscribe__wrapper-shapes .sub-yellow {
  transition: 0.6s;
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  background-color: #ffd3af;
}
.subscribe .subscribe__wrapper:hover .sub-blue {
  transition: 0.6s;
  min-width: 1256px;
  min-height: 333px;
}
.subscribe .subscribe__wrapper:hover .sub-orange {
  transition: 0.6s;
  min-width: 230px;
  min-height: 220px;
}
.subscribe .subscribe__wrapper:hover .sub-yellow {
  transition: 0.6s;
  min-width: 120px;
  min-height: 100px;
}
.subscribe .subscribe__wrapper:hover .subscribe-h4 {
  color: #bd2b6d;
  transition: 0.5s;
}
.subscribe .subscribe__wrapper:hover .subscribe-heading {
  transition: 0.5s;
  color: #462bbd;
}
@media (max-width: 1175px) {
  .subscribe .subscribe__wrapper:hover .sub-blue {
    min-width: 680px;
    min-height: 300px;
  }
}
@media (max-width: 750px) {
  .subscribe .subscribe__wrapper:hover .sub-blue {
    min-width: 580px;
    min-height: 240px;
  }
  .subscribe .subscribe__wrapper:hover .sub-orange {
    min-width: 200px;
    min-height: 150px;
  }
  .subscribe .subscribe__wrapper {
    flex-direction: column;
  }
  .subscribe .subscribe__wrapper-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .subscribe .subscribe__wrapper:hover .sub-blue {
    min-width: 300px;
    min-height: 200px;
  }
  .subscribe .subscribe__wrapper:hover .sub-orange {
    min-width: 100px;
    min-height: 100px;
  }
  .subscribe .subscribe__wrapper:hover .sub-yellow {
    min-width: 50px;
    min-height: 50px;
  }
}

@media (max-width: 962px) {
  footer .container__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  footer .container__top .container__left--part {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  footer .container__top .container__right--part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .bootom__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
footer .footer__container {
  padding: 20px 0;
}
footer .footer__container .container__top {
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 30px;
}
footer .footer__container .container__top .container__left--part h2 {
  max-width: 460px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer__container .container__top .container__left--part h6 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin: 30px 0;
}
footer .footer__container .container__top .container__left--part p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer__container .container__top .container__left--part p span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer__container .container__top .container__right--part {
  display: flex;
  gap: 20px;
}
footer .footer__container .container__top .container__right--part ul {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 30px;
}
footer .footer__container .container__top .container__right--part ul li {
  list-style-type: none;
}
footer .footer__container .container__top .container__right--part ul li a {
  color: rgba(35, 37, 54, 0.7529411765);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer__container .container__bottom {
  width: 100%;
  padding: 10px;
  background-color: #ffe6d2;
}
footer .footer__container .container__bottom .bootom__box {
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__container .container__bottom .bootom__box .bottom__box--text {
  max-width: 300px;
  display: flex;
  gap: 20px;
}
footer .footer__container .container__bottom .bootom__box .bottom__box--text p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer__container .container__bottom .bootom__box .bottom__box--social {
  display: flex;
}
footer .footer__container .container__bottom .bootom__box .bottom__box--social img {
  margin-right: 15px;
}