@use "../base/global";
@use "../utils/functions" as func;
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

header {
  width: 100%;
  background-color: #232536;

  .navbar {
    @include mix.container;
    // max-width: 1200px;
    margin: 0 auto;
    .container-fluid {
      display: flex;
      justify-content: space-between;
      background-color: #232536;
      padding: 10px 20px;
      align-items: start;
      // border-bottom: 1px solid #a7a8af49;
      ul {
        margin-right: 15px;
        li {
          .active {
            color: #a7a8af;
            &:hover {
              color: #fff;
            }
          }
          a {
            color: #a7a8af;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      .nav__clone--link {
        a {
          color: #ffd3af;
        }
      }
    }
  }
}

.container {
  @include mix.container;
  max-width: 1300px;
}
.company-header {
  margin-top: 96px;
  // height: 200vh;
}
.company__shapes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shape1 {
  max-width: 28px;
  max-height: 28px;
}
.shape2 {
  max-width: 48px;
  max-height: 52px;
}
.company__texts-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.87;
}
.company__texts-heading {
  max-width: 664px;
  max-height: 174px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-top: 20px;
}
.company__texts-title {
  padding-top: 24px;
  max-width: 719px;
  max-height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
  margin-bottom: 64px;
}
.company__images {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 15px;
}
.company-img1 {
  max-width: 400px;
  max-height: 430px;
  transition: 0.5s;
}
.company-img1:hover {
  transition: 0.5s;
  transform: scale(0.9);
}
.company-img2 {
  max-width: 400px;
  max-height: 430px;
  transition: 0.5s;
}
.company-img2:hover {
  transition: 0.5s;
  transform: scale(0.9);
}
.company-img3 {
  max-width: 400px;
  max-height: 420px;
  transition: 0.5s;
}
.company-img3:hover {
  transition: 0.5s;
  transform: scale(0.9);
}
@media (max-width: 1100px) {
  .company__images {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
  }
  .company-img1 {
    max-width: 350px;
  }
  .company-img2 {
    max-width: 350px;
  }
  .company-img3 {
    max-width: 350px;
    max-height: 370px;
  }
}
@media (max-width: 1000px) {
  .company__images {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
  }
  .company-img1 {
    max-width: 300px;
  }
  .company-img2 {
    max-width: 300px;
  }
  .company-img3 {
    max-width: 300px;
    max-height: 320px;
  }
}
@media (max-width: 950px) {
  .company__images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 700px) {
  .company__texts-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .company__texts-heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }
  .company__texts-title {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .company__images {
    margin-top: 80px;
  }
}
///<!-- HISTORY START -->
.company-story {
  margin-top: 96px;
}
.company__story-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.story__text-span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  margin-top: 16px;
}
.story__text-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  max-width: 549px;
  max-height: 108px;
  padding-top: 16px;
}
.story__text-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
  max-width: 550px;
  max-height: 144px;
  padding-top: 24px;
}
.story__cards {
  background-color: #ffd3af;
  display: flex;
  max-width: 624px;
  max-height: 368px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 0 60px 0;
  column-gap: 150px;
  row-gap: 30px;
}
.story__cards-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.cards__item-span {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  text-align: start;
}
.for-hr {
  display: flex;
}
.cards__item-hr1 {
  height: 6px;
  width: 10px;
  border: none;
  background-color: #444cfc;
}
.cards__item-hr2 {
  height: 6px;
  width: 44px;
  border: none;
  background-color: #ffe6d2;
}
.cards__item-hr3 {
  height: 6px;
  width: 17px;
  border: none;
  background-color: #ffa155;
}
.cards__item-h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
  opacity: 0.87;
  text-align: start;
  max-width: 138px;
  width: 100%;
}
@media (max-width: 1000px) {
  .story__cards {
    max-width: 450px;
    column-gap: 55px;
    row-gap: 20px;
  }
}
@media (max-width: 950px) {
  .company__story-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .story__cards {
    max-width: 700px;
    column-gap: 200px;
  }
  .story__shape {
    padding-left: 170px;
  }
  .story__text {
    max-width: 600px;
  }
  .story__text-title {
    font-weight: 600px;
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .company__story-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }
  .story__cards {
    max-width: 700px;
    column-gap: 100px;
  }
  .story__shape {
    padding-left: 5px;
  }
  .story__text {
    max-width: 500px;
  }
  .story__text-title {
    font-weight: 400px;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .company__story-wrapper {
    row-gap: 120px;
  }
  .story__cards {
    max-width: 400px;
    column-gap: 50px;
  }
  .story__text-heading {
    font-size: 25px;
  }
}
////<!-- HISTORY END -->
#expertise {
  padding: 96px 0;
  background-color: #ecf8f9;
  .expertise__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    .left {
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000;
      }
      h2 {
        max-width: 622px;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: #232536;
        margin: 16px 0 24px;
      }
      p {
        max-width: 622px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #5d5f6d;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .card {
        padding: 30px 117px 30px 30px;
        background-color: #fff;
        display: flex;
        gap: 16px;
        transition: 0.4s;
        .logo {
          a {
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #ffe6d2;
            border-radius: 50%;
          }
        }
        .content {
          h4 {
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
          }
          p {
            max-width: 300px;
            margin-top: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #5d5f6d;
            br {
              display: none;
            }
          }
        }
        &:hover {
          cursor: pointer;
          background-color: #ffe6d2;
          transform: scale(1.05);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.137);
          .logo {
            a {
              background-color: white;
            }
          }
        }
      }
      .card-mobile {
        display: none;
      }
    }
    @media (max-width: 1230px) {
      .left {
        h2 {
          font-size: 40px;
          line-height: 140%;
        }
      }
      .right {
        .card {
          padding: 30px;
          .content {
            p {
              max-width: 400px;
            }
          }
        }
      }
    }
    @media (max-width: 1005px) {
      flex-direction: column;
      .left {
        width: 100%;
        text-align: center;
        h2 {
          max-width: 100%;
          text-align: center;
        }
        p {
          max-width: 100%;
        }
      }
      .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        .card {
          padding: 20px;
          .content {
            p {
              max-width: 300px;
            }
          }
        }
        .card-mobile {
          padding: 20px;
          background-color: #fff;
          display: flex;
          gap: 16px;
          transition: 0.4s;
          .logo {
            a {
              transition: 0.4s;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              background-color: #ffe6d2;
              border-radius: 50%;
            }
          }
          .content {
            h4 {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;
              color: #000000;
            }
            p {
              max-width: 300px;
              margin-top: 8px;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #5d5f6d;
              br {
                display: none;
              }
            }
          }
          &:hover {
            cursor: pointer;
            background-color: #ffe6d2;
            transform: scale(1.05);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.137);
            .logo {
              a {
                background-color: white;
              }
            }
          }
        }
      }
    }
    @media (max-width: 750px) {
      .left {
        h2 {
          font-size: 35px;
        }
      }
      .right {
        width: 100%;
        grid-template-columns: 1fr;
        .card,
        .card-mobile {
          padding: 30px;
          .content {
            p {
              max-width: 100%;
            }
          }
          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }
    @media (max-width: 520px) {
      .left {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 14px;
        }
      }
      .right {
        .card,
        .card-mobile {
          padding: 25px 20px;
          .content {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1005px) {
    padding: 80px 0;
  }
}

///<!-- LOGO SECTION START -->
.company__logo {
  margin-top: 96px;
}
.company__logo-wrapper {
  background-color: #fafafc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  max-height: 106px;
}
.logo__items {
  max-width: 186px;
  max-height: 105px;
}
@media (max-width: 950px) {
  .company__logo-wrapper {
    max-height: 400px;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 30px;
  }
}
@media (max-width: 562px) {
  .company__logo-wrapper {
    max-height: 550px;
    row-gap: 0px;
  }
}

///<!-- LOGO SECTION END -->

////<!-- OUR VISION START -->
.our-vision {
  margin-top: 96px;
}
.vision-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}
.vision-heading {
  max-width: 701px;
  max-height: 162px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #232536;
  padding-top: 16px;
}
.vision-title {
  max-width: 622px;
  max-height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
  padding-top: 24px;
}
.vision__img {
  margin-top: 64px;
}
.back-img-vision {
  max-width: 1270px;
  max-height: 369px;
  padding-right: 20px;
}
@media (max-width: 1100px) {
  .back-img-vision {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .back-img-vision {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .back-img-vision {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .back-img-vision {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .back-img-vision {
    max-width: 600px;
  }
  .vision-heading {
    font-size: 24px;
    max-width: 420px;
    line-height: 30px;
  }
}
@media (max-width: 620px) {
  .back-img-vision {
    max-width: 500px;
  }
}
@media (max-width: 520px) {
  .back-img-vision {
    max-width: 400px;
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .back-img-vision {
    max-width: 300px;
  }
}
/////<!-- OUR VISION END -->
//<!-- TEAM START -->
.team {
  margin-top: 96px;
  margin-bottom: 224px;
}
.team-span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.87;
}
.team-heading {
  max-width: 624px;
  max-height: 162px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-top: 16px;
}
.team-title {
  max-width: 505px;
  max-height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
  padding-top: 24px;
}
.team__img {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 440px;
}
.team-img {
  max-width: 300px;
  min-height: 300px;
}
@media (max-width: 1100px) {
  .team__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .team-img {
    max-width: 320px;
    max-height: 320px;
  }
  .team-heading {
    font-size: 30px;
    line-height: 30px;
  }
}
////<!-- TEAM END -->

.subscribe {
  .container {
    @include mix.container;
    max-width: 1300px;
  }
  .subscribe__wrapper {
    background-color: #666dff;
    max-width: 1256px;
    min-height: 333px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .subscribe-h4 {
    max-width: 111px;
    max-height: 20px;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #ffffff;
    z-index: 152;
    position: relative;
    transition: 0.5s;
    margin-left: 15px;
  }
  .subscribe-heading {
    margin-left: 15px;
    position: relative;
    max-width: 488px;
    max-height: 108px;
    font-weight: 600px;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    z-index: 155;
    transition: 0.5s;
  }
  .subscribe__wrapper-form {
    .email-inp {
      position: relative;
      padding: 20px;
      padding-left: 30px;
      padding-right: 100px;
      border: none;
      z-index: 162;
      margin-right: 15px;
    }
  }
  .subscribe__wrapper-shapes {
    max-width: 85px;
    max-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    .sub-blue {
      position: absolute;
      min-width: 80px;
      min-height: 80px;
      background-color: #749de9;
      z-index: 1;
      transition: 0.6s;
    }
    .sub-orange {
      position: absolute;
      min-width: 55px;
      min-height: 55px;
      background-color: #ffa155;
      transition: 0.6s;
    }
    .sub-yellow {
      transition: 0.6s;
      position: absolute;
      min-width: 30px;
      min-height: 30px;
      background-color: #ffd3af;
    }
  }
  .subscribe__wrapper:hover {
    .sub-blue {
      transition: 0.6s;
      min-width: 1256px;
      min-height: 333px;
      // background-color: #2fc5d2;
    }
    .sub-orange {
      transition: 0.6s;
      min-width: 230px;
      min-height: 220px;
      // background-color: #cb8181;
    }
    .sub-yellow {
      transition: 0.6s;
      min-width: 120px;
      min-height: 100px;
      // background-color: #4a1dde;
    }
    .subscribe-h4 {
      color: #bd2b6d;
      transition: 0.5s;
    }
    .subscribe-heading {
      transition: 0.5s;
      color: #462bbd;
    }
  }
  @media (max-width: 1175px) {
    .subscribe__wrapper:hover {
      .sub-blue {
        min-width: 680px;
        min-height: 300px;
      }
    }
  }
  @media (max-width: 750px) {
    .subscribe__wrapper:hover {
      .sub-blue {
        min-width: 580px;
        min-height: 240px;
      }
      .sub-orange {
        min-width: 200px;
        min-height: 150px;
      }
    }
    .subscribe__wrapper {
      flex-direction: column;
    }
    .subscribe__wrapper-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 640px) {
    .subscribe__wrapper:hover {
      .sub-blue {
        min-width: 300px;
        min-height: 200px;
      }
      .sub-orange {
        min-width: 100px;
        min-height: 100px;
      }
      .sub-yellow {
        min-width: 50px;
        min-height: 50px;
      }
    }
  }
}
// <!-- SERVICE FOOTER START -->
footer {
  @media (max-width: 962px) {
    .container__top {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 50px;
      .container__left--part {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      .container__right--part {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .bootom__box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .footer__container {
    padding: 20px 0;
    .container__top {
      @include mix.container;
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 100px 30px;
      .container__left--part {
        h2 {
          max-width: 460px;
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          text-align: left;
        }
        h6 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: left;
          margin: 30px 0;
        }
        p {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          span {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      .container__right--part {
        display: flex;
        gap: 20px;
        ul {
          color: #232536;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          margin-right: 30px;
          li {
            list-style-type: none;
            a {
              color: #232536c0;
              font-family: Poppins;
              font-size: 15px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
    }
    .container__bottom {
      width: 100%;
      padding: 10px;
      background-color: #ffe6d2;
      .bootom__box {
        @include mix.container;
        max-width: 1500px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom__box--text {
          max-width: 300px;
          display: flex;
          gap: 20px;
          p {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        .bottom__box--social {
          display: flex;
          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
//  <!-- SERVICE FOOTER FINISH -->
