@use "../base/global";
@use "../utils/functions" as func;
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

body {
  font-family: "Poppins";
}
header {
  width: 100%;
  background-color: #232536;
  .navbar {
    @include mix.container;
    max-width: 1600px;
    margin: 0 auto;
    .container-fluid {
      display: flex;
      justify-content: space-between;
      background-color: #232536;
      padding: 10px 20px;
      align-items: start;
      border-bottom: 1px solid #a7a8af49;
      ul {
        margin-right: 15px;
        li {
          .active {
            color: #a7a8af;
            &:hover {
              color: #fff;
            }
          }
          a {
            color: #a7a8af;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      .nav__clone--link {
        a {
          color: #ffd3af;
        }
      }
    }
  }
  .nav__content {
    @include mix.container;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 50px;
    @media (max-width: 962px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    h1 {
      max-width: 624px;
      font-family: Poppins;
      font-size: 56px;
      font-weight: 600;
      line-height: 68px;
      letter-spacing: 0px;
      text-align: left;
      color: #fff;
    }
    p {
      max-width: 528px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #fff;
    }
    button {
      @include mix.btn(219px, 64px, #444cfc, #fff);
      border: 1px solid #444cfc;
    }
  }
  .nav__brands {
    @include mix.container;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    @media (max-width: 962px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      .nav__brands--img {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    .nav__brands--text {
      max-width: 186px;
      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: #fff;
      }
      span {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #a7a8af;
      }
    }
    .nav__brands--img {
      max-width: 1161px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin: 0 15px;
      }
    }
  }
}
main {
  .about__us {
    width: 100%;
    @media (max-width: 962px) {
      .about__us__container {
        .about__us--text {
          max-width: 1279px;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        .about__us--cardbox {
          .about__cards {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .about__num--percentage {
            display: flex;
            align-items: center;
            flex-direction: column;
            .num__percentage--left {
              max-width: 1280px;
              display: flex;
              align-items: center;
              flex-direction: column;
            }
          }
        }
      }
    }
    .about__us__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 150px 50px;
      gap: 100px;
      .about__us--text {
        max-width: 1279px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about__us--heading {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
        }
        .about__text--left {
          h2 {
            max-width: 640px;
            font-family: Poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        .about__us--right {
          h3 {
            max-width: 547px;
            font-family: Poppins;
            font-size: 36px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0px;
            text-align: left;
          }
          p {
            max-width: 547px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      .about__us--cardbox {
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        .about__cards {
          max-width: 1280px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .about__box {
            width: 418px;
            height: 488px;
          }
        }
        .about__num--percentage {
          max-width: 1280px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 30px 0;
          .num__percentage--left {
            max-width: 1280px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .percentage__box {
              max-width: 136px;
              display: flex;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-right: 30px;
              h3 {
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0px;
                text-align: left;
              }
              p {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
              }
            }
          }
          .num__percentage--right {
            display: flex;
            align-items: center;
            gap: 15px;
          }
        }
      }
    }
  }

  .expertise {
    width: 100%;
    background-color: #ecf8f9;
    .expertise__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 150px 50px;
      background-color: #ecf8f9;
      @media (max-width: 962px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        .box__container {
          text-align: center;
          padding-left: 40px;
        }
      }
      .expertise__text {
        max-width: 624px;
        h6 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
        }
        h2 {
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          text-align: left;
        }
        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .expertise__box {
        .box {
          width: 515px;
          display: flex;
          .box__container {
            max-width: 515px;
            display: flex;
            background-color: #fff;
            justify-content: space-around;
            gap: 20px;
            margin: 10px 0;
            padding: 20px 0;
            padding-left: 20px;
            padding-right: 30px;
            h6 {
              font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0px;
              text-align: left;
            }
            p {
              font-family: Poppins;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .service {
    width: 100%;
    background-color: #ffe6d2;
    @media (max-width: 962px) {
      .service__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      .service__cardbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        .service__box {
          margin: 20px 0;
        }
      }
    }
    .service__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 150px 50px;
      .service__title {
        max-width: 777px;
        p {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
        }
        h2 {
          max-width: 700px;
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          margin: 35px 0;
        }
        button {
          @include mix.btn(214px, 64px, #666dff, #fff);
          border: 1px solid #666dff;
          a {
            color: #fff;
          }
        }
      }
      .service__cardbox {
        max-width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        .service__box {
          width: 405px;
          height: 355px;
          border: 1px solid #fff;
          background-color: #fff;
          display: flex;
          align-items: left;
          flex-direction: column;
          padding: 50px 30px;
          h6 {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
            margin: 15px 0;
          }
          p {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
          .service__link {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
              font-family: Poppins;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .process {
    width: 100%;
    @media (max-width: 962px) {
      .process {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .process__container--cardbox {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .process__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 150px 50px;
      gap: 100px;
      .process--container--text {
        h6 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
        }
        h2 {
          max-width: 730px;
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          text-align: left;
        }
        p {
          max-width: 639px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .process__container--cardbox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .process__card {
          background-image: url(../../images/home/01.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
          width: 395px;
          height: 164px;
          border: 1px solid #ecf8f9;
          padding: 30px;
          padding-left: 20px;
          padding-right: 20px;
          margin: 20px;
          display: flex;
          justify-content: space-between;
          gap: 15px;
          h6 {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
          }
          p {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        .second {
          background-image: url(../../images/home/02.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
        }
        .third {
          background-image: url(../../images/home/03.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
        }
        .fourth {
          background-image: url(../../images/home/04.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
        }
        .fifth {
          background-image: url(../../images/home/05.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
        }
        .sixth {
          background-image: url(../../images/home/06.png);
          background-repeat: no-repeat;
          background-position: top 15px right 15px;
        }
      }
    }
  }
  .customer {
    width: 100%;
    background-color: #f9f9ff;
    @media (max-width: 962px) {
      .customers__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        .customer__content--left {
          text-align: center;
          p {
            margin: 15px 0;
          }
        }
      }
    }
    .customers__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 150px 50px;
      .customer__content--left {
        max-width: 502px;
        padding: 30px;
        h2 {
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          text-align: left;
        }
        p {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          span {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        .customer__review {
          max-width: 162px;
          display: flex;
          align-items: center;
          flex-direction: column;
          p {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: left;
            span {
              font-family: Poppins;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
      .customer__content--right {
        max-width: 624px;
        background-color: #fff;
        padding: 50px;
        background-image: url(../../images/home/Shapes4.png),
          url(../../images/home/Quote.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left, top 10px right 40px;
        h4 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: left;
        }
        .review__right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 50px;
          .review__right--text {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            h6 {
              font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0px;
              text-align: left;
            }
            p {
              font-family: Poppins;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .latest {
    width: 100%;
    background-color: #ecf8f9;
    @media (max-width: 962px) {
      .latest__container {
        .latest__cardbox {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
    .latest__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 150px 50px;
      .latest__cardbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-top: 70px;
        .latest__box {
          max-width: 624px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .latest__box--right {
            background-color: #fff;
            padding: 45px;
          }
        }
      }
    }
  }
  .subscribe {
    width: 100%;
    @media (max-width: 962px) {
      .subscribe__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .subcribe__title {
          text-align: center;
        }
      }
    }
    .subscribe__container {
      @include mix.container;
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 100px 50px;
      justify-content: space-around;
      background-color: #666dff;
      // background-image: url(../../images/home/Shapes.svg),
      //   url(../../images/home/Shapes\\(1\).svg);
      background-position: top left, top right;
      background-repeat: no-repeat;
      .subcribe__title {
        p {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 3px;
          text-align: left;
          color: #fff;
        }
        h3 {
          max-width: 488px;
          color: #fff;
          font-family: Poppins;
          font-size: 36px;
          font-weight: 600;
          line-height: 54px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .subscribe__input {
        input {
          width: 454px;
          border: 1px solid none;
          outline: none;
          height: 64px;
          padding: 12px 0;
          padding-left: 15px;
        }
      }
    }
  }
}
footer {
  @media (max-width: 962px) {
    .container__top {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 50px;
      .container__left--part {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      .container__right--part {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .bootom__box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .footer__container {
    padding: 20px 0;
    .container__top {
      @include mix.container;
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 100px 30px;
      .container__left--part {
        h2 {
          max-width: 460px;
          font-family: Poppins;
          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          letter-spacing: 0px;
          text-align: left;
        }
        h6 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: left;
          margin: 30px 0;
        }
        p {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          span {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      .container__right--part {
        display: flex;
        gap: 20px;
        ul {
          color: #232536;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          margin-right: 30px;
          li {
            list-style-type: none;
            a {
              color: #232536c0;
              font-family: Poppins;
              font-size: 15px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0px;
              text-align: left;
            }
          }
        }
      }
    }
    .container__bottom {
      width: 100%;
      padding: 10px;
      background-color: #ffe6d2;
      .bootom__box {
        @include mix.container;
        max-width: 1500px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom__box--text {
          max-width: 300px;
          display: flex;
          gap: 20px;
          p {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        .bottom__box--social {
          display: flex;
          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
